/prime_numbers/part_2/1/.idea/
/prime_numbers/part_2/1/cmake-build-debug/
/prime_numbers/part_2/2/.idea/
/prime_numbers/part_2/2/cmake-build-debug/
.idea
/prime_numbers/part_3/cmake-build-debug/CMakeFiles/
/prime_numbers/part_3/cmake-build-debug/cmake_install.cmake
/prime_numbers/part_3/cmake-build-debug/CMakeCache.txt
/prime_numbers/part_3/cmake-build-debug/Makefile
/prime_numbers/part_3/cmake-build-debug/primary_1.cbp
/prime_numbers/part_3/cmake-build-debug/primary_symmetry.cbp
/prime_numbers/part_3/cmake-build-debug/part_3
/prime_numbers/part_3/cmake-build-debug/part_3.cbp
/prime_numbers/part_4/cmake-build-debug/CMakeFiles/
/prime_numbers/part_4/cmake-build-debug/cmake_install.cmake
/prime_numbers/part_4/cmake-build-debug/CMakeCache.txt
/prime_numbers/part_4/cmake-build-debug/Makefile
/prime_numbers/part_4/cmake-build-debug/part_4
/prime_numbers/part_4/cmake-build-debug/part_4.cbp
